.mainButtonsStyle {
    display: grid;
    grid-template-row: 1fr;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-gap: 20px 20px;
    grid-template-areas:
            "two two learn";
}

.buttonGroupStyle {
    grid-area: two;
    display: grid;
    grid-gap: 20px 20px;
    grid-template-areas:
            "delete edit";
}

.learnButtonStyle {
    grid-area: learn;
}

.modalDelete {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-auto-flow: column;
    grid-template-areas:
            "text text text"
            "cancel . delete";
}

.cancelButton {
    grid-area: cancel;
}

.deleteButton {
    grid-area: delete;
}

.deleteMessage {
    grid-area: text;
}
