.mainButtonsStyle {
    display: grid;
    grid-template-row: 1fr;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-gap: 20px 20px;
    grid-template-areas:
            "two two learn";
}

.buttonGroupStyle {
    grid-area: two;
    display: grid;
    grid-gap: 20px 20px;
    grid-template-areas:
            "delete edit";
}

.learnButtonStyle {
    grid-area: learn;
}
