.headerStyle {
    height: 57px;
    width: 100%;
    background: #EBE0E9;
    position: sticky;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px;
}

.packlistButton, .profileButton {
    height: 100%;
    width: 153px;
    border: 0;
    background: #EBE0E9;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
}

button:hover{
    background: #DCCCDB;
}

.active{
    height: 100%;
    width: 153px;
    border: 0;
    background: #DCCCDB;
    outline: none;
    cursor: pointer;
    border-bottom: 3px solid #21268F;
    font-size: 15px;
    font-weight: 300;
}

.logoutButton {
    /*padding-left: 15px;*/
}







