.mainClass {
    display: grid;
    border-radius: 10px;
    background-color: white;
    grid-gap: 10px 10px;
}

.textFields {
    display: grid;
    grid-gap: 40px 40px;
    grid-template-rows: 1fr 1fr;
}

.searchCards {
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: 4fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
}