.sort {
    cursor: pointer;
}

.sort1 span:after {
    margin: 5px;
    content: "";
    border: 6px solid transparent;
    border-top: 6px solid green;
}

.sort2 span:before{
    content: "";
    margin: 5px;
    min-height: 2px;
    border: 1px solid #5d44f8;
    /*border-radius: 50%;*/

    /*background-color: #5d44f8;*/

}

.sort0 span:after {
    margin: 5px;
    content: "";
    border: 6px solid transparent;
    border-bottom: 6px solid red;
}