.centered{
    width:100vw;
    height:100vw;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    filter: blur(1px) contrast(20);
}
.blob1,.blob2{
    width:50px;
    height:50px;
    position:absolute;
    background:#fff;
    border-radius:50%;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
}
.blob1{
    left:20%;
    animation:osc-l 2.5s ease infinite;
    background: rgba(164,66,183,0.8);
}
.blob2{
    left:80%;
    animation:osc-r 2.5s ease infinite;
    background: rgba(49,86,183,0.65);
}
@keyframes osc-l{
    0%{left:45%;}
    50%{left:50%;}
    100%{left:45%;}
}
@keyframes osc-r{
    0%{left:55%;}
    50%{left:50%;}
    100%{left:55%;}
}